:root {
  --primaryColor: #f44336;
  --blue: #3f51b5;

  --bold: 900;

  --small: 1.125rem;
  --medium: 1.5rem;
  --medium2: 2rem;
  --large: 3rem;
  --xlarge: 4rem;
  --xxlarge: 8rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}

/*  Common SStart */
.highlight {
  font-size: inherit;
  font-weight: 600;
  font-style: inherit;
  color: var(--primaryColor);
}

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 7.5%;
  padding-top: 8%;
  width: 96vw;
}

/*  Common End */

/* Intro Start  */
.intro {
  height: 100vh;
  justify-content: center;
}

.header {
  font-size: var(--xxlarge);
  font-weight: var(--bold);
}

.intro-sub-title {
  font-size: var(--xlarge);
  font-weight: var(--bold);
}

.sub-header {
  font-size: var(--large);
  font-weight: var(--bold);
}

.sub-title {
  font-size: var(--medium);
  font-weight: var(--bold);
}

.techstack {
  font-size: var(--small);
  margin-top: 0.5rem;
  font-weight: normal;
}

.logistics {
  font-size: var(--small);
  font-style: italic;
  margin-top: 0.5rem;
  font-weight: normal;
}

.paragraph {
  font-size: var(--small);
  margin-top: 2rem;
}

.box {
  margin-bottom: 7rem;
  width: 38vw;
}

.link {
  color: var(--blue);
  font-size: var(--small);
  font-style: underline;
  font-weight: var(--bold);
  text-decoration: underline;
  margin-top: 2rem;
}

.bold {
  font-weight: var(--bold);
  font-size: inherit;
}

/*  Hackathon Portion CSS */

.hackathons {
}

.hackathons-header {
  margin-bottom: 6rem;
}

/* Quotes */

.quote-box {
  align-self: flex-end;
  margin-bottom: 7rem;
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.quote-mark {
  font-size: var(--xlarge);
  font-weight: var(--bold);
  font-style: italic;
}

.quote-quote {
  font-size: var(--large);
  font-style: italic;
  font-weight: 300;
}

.quote-author {
  font-size: var(--large);
  font-weight: var(--bold);
  font-style: italic;
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
}

/*  Experience */
.experience-header {
  margin-bottom: 6rem;
}
